.warning{
    background-color: #363C48;
}
.warning h2{
    margin:0 auto;
    padding:20px 0px;
    text-align: center;
    color:white;
    font-size: 29px;
    font-weight: 600;
}
@media (max-width: 740px)
{
    .warning h2{
        font-size:18px;
        padding:20px 10px;
    }
}