*{
  margin:0px;
  padding:0px;
}
body{
  font-family: "heebo";
  direction: rtl;
  background-color: #F7F8FC;
}
h2{
  color: #3A3C3E;
  font-family: "Heebo", Sans-serif;
  font-size: 24px;
  font-weight: 400;
}